# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Benchmarks

on:
  workflow_dispatch: # Allow running the workflow manually from the GitHub UI
  # pull_request:
  #   branches: [ "main" ]

permissions:
  # pull-requests: write
  contents: read
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x
    
    - name: Restore dependencies
      run: dotnet restore ./RobinMustache.slnx
    
    - name: Build
      run: dotnet build ./RobinMustache.slnx --configuration Release --no-restore
      
    # - name: Download previous benchmark data
    #   uses: actions/cache@v4
    #   with:
    #     path: ./cache
    #     key: ${{ runner.os }}-benchmark

    - name: Run Benchmarks
      run: dotnet run --project ./RobinMustache.Benchmarks/RobinMustache.Benchmarks.csproj --configuration Release --filter "RobinMustache*"
    
    # - name: Store benchmark result
    #   uses: benchmark-action/github-action-benchmark@v1
    #   with:
    #     tool: 'benchmarkdotnet'
    #     output-file-path: BenchmarkDotNet.Artifacts/results/Robin.Benchmarks-report-full-compressed.json
    #     external-data-json-path: ./cache/benchmark-data.json
    #     # Workflow will fail when an alert happens
    #     fail-on-alert: true
